<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BDProyeccionSocialEntities" connectionString="metadata=res://*/ModeloDeDatos.csdl|res://*/ModeloDeDatos.ssdl|res://*/ModeloDeDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADV-PC\SQLEXPRESS;initial catalog=BDProyeccionSocial;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>