<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    
  <add name="BDProyeccionSocialEntities" connectionString="metadata=res://*/ModeloDeDatos.csdl|res://*/ModeloDeDatos.ssdl|res://*/ModeloDeDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=BDProyeccionSocial;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
